/* jf open 粉圓 */
@font-face {
  font-family: "jf-openhuninn";

  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/jf-openhuninn.woff2) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* マメロン（mamelon）字體 */
@font-face {
  font-family: "Mamelon";

  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/Mamelon.woff2) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* 王漢宗魏碑體 */
@font-face {
  font-family: "HanWangWeBe";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/HanWangWeBe.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 王漢宗超明體 */
@font-face {
  font-family: "HanWangMingBlack";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/HanWangMingBlack.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* 字體圈欣意冠黑體 */
@font-face {
  font-family: "XinYiGuanHeiTi";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/XinYiGuanHeiTi-Regular.woff2) format("woff2");
}

/* 芫荽體 */
@font-face {
  font-family: "Iansui";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/Iansui.woff2) format("woff2");
}

/* 獅尾牙膏圓體 */
@font-face {
  font-family: "SweiToothpasteCJKtc";
  src: url(https://raw.githubusercontent.com/max32002/swei-toothpaste/master/WebFont/CJK%20TC/SweiToothpasteCJKtc-Regular.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/max32002/swei-toothpaste/master/WebFont/CJK%20TC/SweiToothpasteCJKtc-Regular.woff) format("woff");
}

/* 清松手寫體1 */
@font-face {
  font-family: "JasonHandwriting1";
  src: url(https://raw.githubusercontent.com/max32002/JasonHandWritingFonts/master/webfont/JasonHandwriting1-Regular.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/max32002/JasonHandWritingFonts/master/webfont/JasonHandwriting1-Regular.woff) format("woff");
}

/* 清松手寫體2 */
@font-face {
  font-family: "JasonHandwriting2";
  src: url(https://raw.githubusercontent.com/max32002/JasonHandWritingFonts/master/webfont/JasonHandwriting2-Regular.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/max32002/JasonHandWritingFonts/master/webfont/JasonHandwriting2-Regular.woff) format("woff");
}

/* 清松手寫體3 */
@font-face {
  font-family: "JasonHandwriting3";
  src: url(https://raw.githubusercontent.com/max32002/JasonHandWritingFonts/master/webfont/JasonHandwriting3-Regular.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/max32002/JasonHandWritingFonts/master/webfont/JasonHandwriting3-Regular.woff) format("woff");
}

/* 清松手寫體4 */
@font-face {
  font-family: "JasonHandwriting4";
  src: url(https://raw.githubusercontent.com/max32002/JasonHandWritingFonts/master/webfont/JasonHandwriting4-Regular.woff2) format("woff2"),
    url(https://raw.githubusercontent.com/max32002/JasonHandWritingFonts/master/webfont/JasonHandwriting4-Regular.woff) format("woff");
}

/* 851電機文字 */
@font-face {
  font-family: "851DianJiWenZiTi";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/851DianJiWenZiTi-2.woff2) format("woff2");
}

/* 波塔 */
@font-face {
  font-family: "BoTa";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/BoTa-2.woff2) format("woff2");
}

/* 超級細ゴシック體 */
@font-face {
  font-family: "ChaoJiXi";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/ChaoJiXi-2.woff2) format("woff2");
}

/* 黑板粉筆體 */
@font-face {
  font-family: "Crayon";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/crayon_1-1.woff2) format("woff2");
}

/* 大波浪圓體 */
@font-face {
  font-family: "PopGothicCjkJp";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/PopGothicCjkJp-Light-2.woff2) format("woff2");
}

/* 粉筆體 */
@font-face {
  font-family: "Chalk";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/Chalk-S-JP-2.woff2) format("woff2");
}

/* 公司LOGO圓體 */
@font-face {
  font-family: "CorpRound";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/corp-round-v1-2.woff2) format("woff2");
}

/* 漢字筆順體原版 */
@font-face {
  font-family: "HanZiBiShunZiTi";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/HanZiBiShunZiTi-2.woff2) format("woff2");
}

/* 衡山毛筆草書 */
@font-face {
  font-family: "HengShanMaoBiCaoShu";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/HengShanMaoBiCaoShu-2.woff2) format("woff2");
}

/* 衡山毛筆行書 */
@font-face {
  font-family: "HengShanMaoXing";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/HengShanMaoXing-1.woff2) format("woff2");
}

/* 解星 B */
@font-face {
  font-family: "KaiseiTokumin";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/KaiseiTokumin-Bold-2.woff2) format("woff2");
}

/* 荊南麥圓體 */
@font-face {
  font-family: "Kingna-Maiyuan";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/Kingnam-Maiyuan.woff2) format("woff2");
}

/* 刻石錄鋼筆鶴體 */
@font-face {
  font-family: "I-PenCrane-B";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/I-PenCrane-B-2.woff2) format("woff2");
}

/* 刻石錄顏體 */
@font-face {
  font-family: "I-Ngaan";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/I-Ngaan-2.woff2) format("woff2");
}

/* 克利蘿莉風字體 */
@font-face {
  font-family: "KleeOne";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/KleeOne-Regular-2.woff2) format("woff2");
}

/* 苦累蛙圓體 */
@font-face {
  font-family: "Kurewa";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/KurewaGothicCjkJp-Regular-2.woff2) format("woff2");
}

/* 俐方體11號 */
@font-face {
  font-family: "Cubic";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/Cubic.woff2) format("woff2");
}

/* 無心手寫體 */
@font-face {
  font-family: "WuXinShouXieTi";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/WuXinShouXieTi-2.woff2) format("woff2");
}

/* 馬克筆手寫體 */
@font-face {
  font-family: "NishikiTeki";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/nishiki-teki-2.woff2) format("woff2");
}

/* 豆豆體 */
@font-face {
  font-family: "Doudouziti";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/doudouziti.woff2) format("woff2");
}

/* 胖胖豬肉體 */
@font-face {
  font-family: "PangPangZhuRouTi";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/PangPangZhuRouTi-2.woff2) format("woff2");
}

/* 破碎零號字 */
@font-face {
  font-family: "PoSuiLingHaoZi";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/PoSuiLingHaoZi.woff2) format("woff2");
}

/* 黒薔薇 */
@font-face {
  font-family: "Qiang";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/Qiang.woff2) format("woff2");
}

/* 千圖馬克手寫體 */
@font-face {
  font-family: "QianTuMaKeShouXieTi";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/QianTuMaKeShouXieTi.woff2) format("woff2");
}

/* 青柳隷書 */
@font-face {
  font-family: "QingLiuShu";
  src: url(https://raw.githubusercontent.com/tadlearn/webfonts/main/QingLiuShu.woff2) format("woff2");
}
