/* jf open 粉圓 */
@font-face {
  font-family: "jf-openhuninn";

  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/jf-openhuninn.woff2) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* マメロン（mamelon）字體 */
@font-face {
  font-family: "Mamelon";

  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Mamelon.woff2) format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

/* 王漢宗魏碑體 */
@font-face {
  font-family: "HanWangWeBe";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangWeBe.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* 王漢宗超明體 */
@font-face {
  font-family: "HanWangMingBlack";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangMingBlack.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* 字體圈欣意冠黑體 */
@font-face {
  font-family: "XinYiGuanHeiTi-Regular";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/XinYiGuanHeiTi-Regular.woff2) format("woff2");
}

/* 芫荽體 */
@font-face {
  font-family: "Iansui";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Iansui.woff2) format("woff2");
}

/* 獅尾牙膏圓體 */
@font-face {
  font-family: "SweiToothpasteCJKtc-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-toothpaste@2.0/WebFont/CJK%20TC/SweiToothpasteCJKtc-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/swei-toothpaste@2.0/WebFont/CJK%20TC/SweiToothpasteCJKtc-Regular.woff) format("woff");
}

/* 清松手寫體1 */
@font-face {
  font-family: "JasonHandwriting1-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting1-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting1-Regular.woff) format("woff");
}

/* 清松手寫體2 */
@font-face {
  font-family: "JasonHandwriting2-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting2-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting2-Regular.woff) format("woff");
}

/* 清松手寫體3 */
@font-face {
  font-family: "JasonHandwriting3-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting3-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting3-Regular.woff) format("woff");
}

/* 清松手寫體4 */
@font-face {
  font-family: "JasonHandwriting4-Regular";
  src: url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting4-Regular.woff2) format("woff2"),
    url(https://cdn.jsdelivr.net/gh/max32002/JasonHandWritingFonts/webfont/JasonHandwriting4-Regular.woff) format("woff");
}

/* 851電機文字 */
@font-face {
  font-family: "851DianJiWenZiTi-2";
  src: url(https://cdn.jsdelivr.net/gh/tadlearn/webfonts//851DianJiWenZiTi-2.woff2) format("woff2");
}