/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "jf-openhuninn";

  src: url("https://cdn.jsdelivr.net/gh/tadlearn/webfonts/jf-openhuninn.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mamelon";

  src: url("https://cdn.jsdelivr.net/gh/tadlearn/webfonts/Mamelon.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "mnyylti";

  src: url("https://cdn.jsdelivr.net/gh/tadlearn/webfonts/mnyylti.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HanWangWeBe';
  src: url('https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangWeBe.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HanWangMingBlack';
  src: url('https://cdn.jsdelivr.net/gh/tadlearn/webfonts/HanWangMingBlack.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
